<div class="card">
  <div class="header">
    <h1 class="title">Lookahead</h1>
  </div>

  <div class="content">
    <div class="control-group">
      <label>From</label>
      <input [formControl]="from" class="form-control" />
    </div>

    <div class="control-group">
      <label>To</label>
      <input [formControl]="to" class="form-control" />
    </div>

    <div *ngIf="loading">Loading ...</div>
    <p *ngrxLet="allFlights$ as allFlights">
      Total flights so far: {{ allFlights.size }}
    </p>
    <ng-container *ngrxLet="diff$ as diff">
      <p>Difference: {{ diff }}</p>
    </ng-container>
    <div>Online: {{ online }}</div>
    <button (click)="refresh()" class="btn btn-primary">Refresh</button>
  </div>
</div>

<table class="table table-striped">
  <tr *ngFor="let f of flights$ | async">
    <td>{{ f.id }}</td>
    <td>{{ f.from }}</td>
    <td>{{ f.to }}</td>
    <td>{{ f.date | date: 'dd.MM.yyyy HH:mm' }}</td>
    <td>
      <button (click)="select(f)" class="btn btn-primary">Select</button>
    </td>
  </tr>
</table>

<pre *ngIf="basket$ | async as basket">{{ basket | json }}</pre>
